@import 'stitch/patterns';
@import 'code';
@import 'common';

body {
	border-top:4px solid #ea7e15;
	color:#444;
	margin:0;
}

.is-article {
	header {		
		text-align:center;
	}
	header h1 {
		margin:0;
	}
	header h1 a {
		@include image-replace('logo-small-hover.png');
		display:inline-block;
		margin:baseline(2) 0 0;
		&:hover{
			background-image: image-url('logo-small-hover.png');
		}
	}
	header h2 {
		display:none;
	}
}

.is-index {
	
	header {		
		text-align:center;
	}

	header hgroup {
	}

	header h1 {
		@include image-replace('logo-home.png');
		display:inline-block;
		margin:baseline(2) 0 0 0;
	}

	header h1::before {

	}

	header h1,
	header h2 {

	}

	header h1 a {

	}

	header h2 {
		display:none;
	}
}


.intro {
	max-width:550px;
	margin:baseline(2) auto;
	text-align:center;
	font-size:27px;
	padding:0 baseline(1.3);
	line-height:34px;
	//font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
	color:#222e3a;
}


footer {
	margin:baseline(1) 0 baseline(3);
	color:#777;
	text-align:center;
}

footer div {
	margin:0 auto;
	max-width:550px;
	padding:18px baseline(1) 0;
	//border-top:1px solid #ccc;
}


.article-index {
	margin:baseline(1.5) auto -9px;
	max-width:550px + (baseline(1.5) * 2);
}

.article-index article {
	padding-left:90px;
	position:relative;
	margin:0 baseline(1) 0;
	border-bottom:1px solid #ccc;
}

.article {
	max-width:550px;
	margin:baseline(1) auto 0;
	padding:0 baseline(1);
	
	ul {
	  margin: baseline(1) 0;
	}

	a {
		text-decoration:underline;
		font-weight:bold;
		color:#444;
	}

	strong {
		color:#444;
	}

	.entry-content {
		-webkit-font-smoothing:antialiased;
	}
}

.article h1 {
	text-align:center;
	font-size:48px;
	line-height:1;
	font-weight:bold;
	margin-bottom:baseline(2.5);
	margin-top:baseline(2);
	letter-spacing: -1px;
	color:#222e3a;
}

.article h2 {
	text-align:center;
	font-weight:normal;
	font-size:30px;
	line-height:baseline(1.5);
	margin: 45px 0 baseline(1);
	font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
}

.article time {
  display:block;
  text-align:center;
  margin:baseline(2) 0;
  margin-top:-36px;
  font-size:18px;

 &:before,
  &:after {
  	content:' - ';
  }
}

.article-index h2 {
	font-size:16px;
	margin:0;
	line-height:baseline(2);
	display: inline-block;
	font-weight:700;
	margin-right:12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 440px;
	color:#fff;
}

.article-index h2 a {
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	//font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
	color:#222e3a;
}

time {
  color:#777;
	font-size:14px;
	line-height:21px;
}

.article-index time {
	position:absolute;
	left:15px;
	top:0px;
	margin-top:baseline(0.5);
	margin-right:baseline(0.5);
	font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
}

.article pre {
  //background:rgba(255,255,255,0.4);
  font-size:12px;
  line-height:1.5;
  margin:baseline(1.5) 0;
  //border-radius:5px;
  //background:#333;
  //color:#fff;
}

.article img {
  width:100%;
  display:block;
}

.article figure {
  margin:baseline(1.5) 0;
  position:relative;
  
  &:hover figcaption {
     opacity:1;
  }
  
  figcaption {
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
    position:absolute;
    opacity:0;
    bottom:0;
    box-sizing:border-box;
    color:#fff;
    background:rgba(0,0,0,0.8);
    padding:10px;
    color:#999;
  	font-size:14px;
  	line-height:baseline(1);
  	
  	a {
  	  color:white;
  	  font-weight:normal;
  	  text-decoration:underline;
  	}
  }
}

pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	background-color: #333;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	color:#fff;
  box-shadow: 3px 3px rgba(0,0,0,0.03);
  border-radius: 3px;
}

code, 
pre {
	padding: 0 3px 2px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
  background: rgba(0,0,0,0.02);
}

.notice {
	border-radius:5px;
	background:rgba(0,0,0,0.08);
	padding:20px;
	p:only-child {
		margin:0;
	}
}