$baselineHeight: 23px;
$baseFontSize: 17px;

@function baseline($n) {
  @return $baselineHeight * $n;
}

a {
	color:#333;
	font-weight:700;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

@font-face {
  font-family: 'FFEnzoWeb';
  font-weight:normal;
  src: local('FFEnzoWeb-Medium');
}

@font-face {
  font-family: 'FFEnzoWeb';
  font-weight:bold;
  src: local('FFEnzoWeb-Bold');
}

body {
  font-size:$baseFontSize;
	font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
  font-style: normal;
  // font-weight: 600;
  line-height:baseline(1);
	color:#555;
	margin:0;
	background: #fff url('../images/subtle_zebra_3d.png');
}

header {		
	background:#333;
	overflow:hidden;
	padding:9px baseline(1);
	
	@media (max-width:450px){
	  padding-top:baseline(0.5);
	  padding-bottom:baseline(0.5);
	}
}

header hgroup {
	text-align:center;
}

header h1 {
	position:relative;
}

header h1::before {
	content:'';
	display:block;
	width:26px;
	height:29px;
	background:url('../images/logo.png') no-repeat 0 0;
	position:absolute;
	left:-34px;
	top:-5px;
	
	@media (max-width:450px){
	  display:none;
	}
}

header h1,
header h2 {
	color:#fff;
	display:inline;
	font-size:16px;
	margin:0;
	font-weight:normal;
	line-height:baseline(1);
}

header h1 a {
  color:#fff;
  font-weight:normal;
  
  @media (max-width:450px) {
	  font-size:20px;
	  display:block;
	}
}

header h2 {
	color:#888;
	margin-left:10px;
	
	@media (max-width:450px) {
	  display:block;
	}
}

.intro {
	max-width:550px;
	margin:baseline(2) auto;
	text-align:center;
	font-size:30px;
	padding:0 baseline(1.3);
	line-height:34px;
}

p {
	margin:baseline(1) 0;
}

h1,
h2,
h3 {
	color:#333;
}

h1 {
	font-size:baseline(2);
}

h2 {
	font-size:27px;
	margin:baseline(1.5) 0 baseline(1);
}

footer {
	margin:baseline(2.5) 0;
	text-align:center;
	color:#777;
	font-size:14px;
	line-height:baseline(1);
}

footer div {
	margin:0 auto;
	max-width:550px - (baseline(1) * 2);
	padding:18px baseline(1) 0;
	border-top:1px solid #ccc;
}

.article-index {
	margin:baseline(1.5) auto -9px;
	max-width:550px + (baseline(1.5) * 2);
}

.article-index article {
	padding-left:90px;
	position:relative;
	background:#333;
	color:#fff;
	margin:0 baseline(1) 2px;
	border-radius:3px;
}

.article {
	max-width:550px;
	margin:baseline(3) auto;
	padding:0 baseline(1);
	
	ul {
	  margin: baseline(1) 0;
	}
	
	p code {
	  background:#333;
	  color:#fff;
	  padding:0 3px;
	}
}

.article h1 {
	text-align:center;
	font-size:45px;
	line-height:1;
	font-weight:normal;
	margin-bottom:baseline(2.5);
}

.article h2 {
	text-align:center;
	font-weight:normal;
	font-size:30px;
	line-height:baseline(1.5);
	margin: 45px 0 baseline(1);
}

.article time {
  display:block;
  text-align:center;
  margin:baseline(2) 0;
}

.article-index h2 {
	font-size:16px;
	margin:0;
	line-height:baseline(2);
	display: inline-block;
	font-weight:700;
	margin-right:12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 440px;
	color:#fff;
}

.article-index h2 a {
	color:#fff;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
}

time {
  color:#777;
	font-size:14px;
	line-height:21px;
}

.article-index time {
	position:absolute;
	left:15px;
	top:0px;
	margin-top:baseline(0.5);
	margin-right:baseline(0.5);
}

.article pre {
  //background:rgba(255,255,255,0.4);
  padding:baseline(1);
  margin:baseline(1) 0;
  //border-radius:5px;
  background:#333;
  color:#fff;
}
code {
  font-size:14px;
}

.article img {
  width:100%;
  display:block;
}

.article figure {
  margin:baseline(1.5) 0;
  position:relative;
  
  &:hover figcaption {
     opacity:1;
  }
  
  figcaption {
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
    position:absolute;
    opacity:0;
    bottom:0;
    box-sizing:border-box;
    color:#fff;
    background:rgba(0,0,0,0.8);
    padding:10px;
    color:#999;
  	font-size:14px;
  	line-height:baseline(1);
  	
  	a {
  	  color:white;
  	  font-weight:normal;
  	  text-decoration:underline;
  	}
  }
}