@import 'stitch/patterns';

$baselineHeight: 25px;
$baseFontSize: 16px;

@function baseline($n) {
  @return $baselineHeight * $n;
}

a {
	color:#333;
	font-weight:700;
	text-decoration:none;
}

a:hover {
	color:#ea7e15;
}

@font-face {
  font-family: 'FFEnzoWeb';
  font-weight:normal;
  src: local('FFEnzoWeb-Medium');
}

@font-face {
  font-family: 'FFEnzoWeb';
  font-weight:bold;
  src: local('FFEnzoWeb-Bold');
}

body {
		border-top:3px solid #ea7e15;

  font-size:$baseFontSize;
  font-family:"adelle", Georgia, serif;
  font-style: normal;
  // font-weight: 600;
  line-height:baseline(1);
	color:#666;
	margin:0;
}

.is-article {
	header {		
		text-align:center;
	}
	header h1 {
		margin:0;
	}
	header h1 a {
		@include image-replace('logo-small-hover.png');
		display:inline-block;
		margin:baseline(2) 0 0;
		&:hover{
			background-image: image-url('logo-small-hover.png');
		}
	}
	header h2 {
		display:none;
	}
}

.is-index {
	
	header {		
		text-align:center;
	}

	header hgroup {
	}

	header h1 {
		@include image-replace('logo-home.png');
		display:inline-block;
		margin:baseline(2) 0 0 0;
	}

	header h1::before {

	}

	header h1,
	header h2 {

	}

	header h1 a {

	}

	header h2 {
		display:none;
	}

	footer {
		text-align:center;
	}
}


.intro {
	max-width:550px;
	margin:baseline(2) auto;
	text-align:center;
	font-size:27px;
	padding:0 baseline(1.3);
	line-height:34px;
	//font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
	color:#222e3a;
}

p {
	margin:baseline(1) 0;
}

h1,
h2,
h3 {
	color:#333;
}

h1 {
	font-size:baseline(2);
}

h2 {
	font-size:27px;
	margin:baseline(1.5) 0 baseline(1);
}

footer {
	margin:baseline(1) 0 baseline(3);
	color:#777;
}

footer div {
	margin:0 auto;
	max-width:550px;
	padding:18px baseline(1) 0;
	//border-top:1px solid #ccc;
}


.article-index {
	margin:baseline(1.5) auto -9px;
	max-width:550px + (baseline(1.5) * 2);
}

.article-index article {
	padding-left:90px;
	position:relative;
	margin:0 baseline(1) 0;
	border-bottom:1px solid #ccc;
}

.article {
	max-width:550px;
	margin:baseline(1) auto 0;
	padding:0 baseline(1);
	
	ul {
	  margin: baseline(1) 0;
	}

	a {
		text-decoration:underline;
		font-weight:bold;
		color:#444;
	}

	strong {
		color:#444;
	}
}

.article h1 {
	text-align:center;
	font-size:48px;
	line-height:1;
	font-weight:bold;
	margin-bottom:baseline(2.5);
	margin-top:baseline(2);
	letter-spacing: -1px;
	color:#222e3a;
}

.article h2 {
	text-align:center;
	font-weight:normal;
	font-size:30px;
	line-height:baseline(1.5);
	margin: 45px 0 baseline(1);
	font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
}

.article time {
  display:block;
  text-align:center;
  margin:baseline(2) 0;
  margin-top:-36px;
  font-size:18px;

 &:before,
  &:after {
  	content:' - ';
  }
}

.article-index h2 {
	font-size:16px;
	margin:0;
	line-height:baseline(2);
	display: inline-block;
	font-weight:700;
	margin-right:12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 440px;
	color:#fff;
}

.article-index h2 a {
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	//font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
	color:#222e3a;
}

time {
  color:#777;
	font-size:14px;
	line-height:21px;
}

.article-index time {
	position:absolute;
	left:15px;
	top:0px;
	margin-top:baseline(0.5);
	margin-right:baseline(0.5);
	font-family: "ff-enzo-web", 'FFEnzoWeb-Medium', sans-serif;
}

.article pre {
  //background:rgba(255,255,255,0.4);
  font-size:12px;
  line-height:1.5;
  margin:baseline(1.5) 0;
  //border-radius:5px;
  //background:#333;
  //color:#fff;
}

.article img {
  width:100%;
  display:block;
}

.article figure {
  margin:baseline(1.5) 0;
  position:relative;
  
  &:hover figcaption {
     opacity:1;
  }
  
  figcaption {
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
    position:absolute;
    opacity:0;
    bottom:0;
    box-sizing:border-box;
    color:#fff;
    background:rgba(0,0,0,0.8);
    padding:10px;
    color:#999;
  	font-size:14px;
  	line-height:baseline(1);
  	
  	a {
  	  color:white;
  	  font-weight:normal;
  	  text-decoration:underline;
  	}
  }
}

pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	background-color: #333;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	color:#fff;
}

code, 
pre {
	padding: 0 3px 2px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.com { color: #93a1a1; }
.lit { color: #f12770; }
.pun, .opn, .clo { color: #eee; }
.fun { color: #dc322f; }
.str, .atv { color: #e6d06c; }
.kwd, .linenums .tag { color: #a6e22d; }
.typ, .atn, .dec, .var { color: #fff; }
.pln { color: #54d2ef; }

.prettyprint {
  padding: 8px;
  background-color: #333;
  border: 1px solid #e1e1e8;
  border-radius:5px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #555;
     -moz-box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #555;
          box-shadow: inset 40px 0 0 #444, inset 41px 0 0 #555;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
  padding-left:0;
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #000;
}

.notice {
	border-radius:5px;
	background:rgba(0,0,0,0.08);
	padding:20px;
	p:only-child {
		margin:0;
	}
}