<html>
<head>
  <title>Triangle Test</title>
  <link rel="stylesheet" type="text/css" href="test.css" />
</head>
<body>
  <div class="example">
    <h3>Bottom</h3>
    <div class="triangle-1"></div>
  </div>
  <div class="example">
    <h3>Top</h3>
    <div class="triangle-2"></div>
  </div>
  <div class="example">
    <h3>Right</h3>
    <div class="triangle-3"></div>
  </div>
  <div class="example">
    <h3>Left</h3>
    <div class="triangle-4"></div>
  </div>
  <div class="example">
    <h3>Top Right</h3>
    <div class="triangle-5"></div>
  </div>
  <div class="example">
    <h3>Top Left</h3>
    <div class="triangle-6"></div>
  </div>
  <div class="example">
    <h3>Bottom Left</h3>
    <div class="triangle-7"></div>
  </div>
  <div class="example">
    <h3>Bottom Right</h3>
    <div class="triangle-8"></div>
  </div>
</body>
</html>