.triangle-1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 50px 50px 0 50px;
  border-top-color: black; }

.triangle-2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0 50px 50px 50px;
  border-bottom-color: black; }

.triangle-3 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 50px 0 50px 50px;
  border-left-color: black; }

.triangle-4 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 50px 50px 50px 0;
  border-right-color: black; }

.triangle-5 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0 50px 50px 0;
  border-right-color: black; }

.triangle-6 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 50px 50px 0 0;
  border-top-color: black; }

.triangle-7 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 50px 0 0 50px;
  border-left-color: black; }

.triangle-8 {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 50px 50px;
  border-bottom-color: black; }
