<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://use.typekit.com/ffc4cqa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title><% content_for :title, yield %>Anthony Short</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Anthony Short</h1>
        <h2>Designer and Front-End Developer</h2>
      </hgroup>
    </header>
    
    <% if is_blog_article? %>
      <% content_for :blog_article, yield %>
      <%= partial settings.blog_article_template %>
    <% else %>
      <%= yield %>
    <% end %>

    <footer>
      <div>
        <p>I'm Anthony Short. A web developer from Newcastle, Australia working at <a href="http://newism.com.au">Newism</a>. I specialise in front-end development. I have a love of everything Japan and Apple.</p>
        <p>
          <a href="http://twitter.com/anthonyshort">Twitter</a>. 
          <a href="http://github.com/anthonyshort">Github</a>. 
          <a href="mailto:anthony@anthonyshort.me">Email</a>.
          <a href="/feed.xml">RSS</a>.
        </p>
      </div>
    </footer>
  </body>
</html>